.work-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.work-item {
  height: 150svh;
}

.work-item-img {
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(25% 25%, 75% 40%, 100% 100%, 0% 100%);
  will-change: clip-path;
}

.work-item-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 1;
}

.work-item-name h1 {
  color: #fff;
}
